@font-face {
  font-family: "NeuzeitOfficeW01-Regula";
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.eot?#iefix");
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.eot?#iefix") format("eot"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.woff") format("woff"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.ttf") format("truetype"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.svg#85050462-ab1f-4478-a289-36eed1d3c53f") format("svg"); }
@font-face {
  font-family: "Neuzeit Office W01 Bold";
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.eot?#iefix");
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.eot?#iefix") format("eot"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.woff") format("woff"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.ttf") format("truetype"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.svg#d4cb246e-742d-4269-9f6a-901a050ff03f") format("svg"); }

* {
  margin: 0;
  padding: 0;
  font-family: NeuzeitOfficeW01-Regula, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
}

body {
  background: #fff url(../img/noise.png) repeat left top;
  color: #6e6663;
}

h1 {
  font-family: Neuzeit Office W01 Bold, Helvetica Neue, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #0571b0;
  letter-spacing: 1px;
  color: #fff;
  font-size: 60px;
}

h1 {
  font-size: 40px;
  text-transform: none;
}

h2 {
  font-family: Neuzeit Office W01 Bold, Helvetica Neue, sans-serif;
  font-size: 40px;
}

.home h2 {
  margin-top: 0em;
}

.full h2 {
  padding: 20px;
}

h3 {
  padding-top: 20px;
  font-family: Neuzeit Office W01 Bold, Helvetica Neue, sans-serif;
  font-size: 32px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #336699;
}

.all {
  background: transparent url(../img/team-small-crop.jpg) no-repeat center -8vh;
  background-size: 100% auto;
  overflow: auto;
}

header {
  padding: 20px 50px;
  background: #fff;
  text-align: center;
}

.out {
  margin: 16vw 5% 25px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(51,51,51,0.25);
}

.header {
  overflow: auto;
  background: #58aeff;
  padding: 20px 50px 0px;
}

.content {
  padding: 50px;
  background: #fff;
  font-size: 16px;
  height: 100%;
  border-top-width: 0;
  overflow: auto;
}

.content.full {
  margin-left: 0;
}

.content.homeTODO {
  padding-bottom: 25vw;
  background: transparent url(../img/mayor-walking.jpg) no-repeat center top;
  background-size: 100% auto;
}

p {
  padding: 10px 0 10px 0;
  width: 60%;
  line-height: 1.4;
}

p img {
  margin-right: 10px;
}

.imgbar {
  float: right;
  width: 39%;
  margin-bottom: 10px;
  clear: both;
}

iframe {
  border: 0;
}

#nav {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-top: 1px dotted #fff;
  margin-top: 20px;
}

#nav li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#nav li a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 15px;
  font-size: 1.2em;
}

#nav li.selected a {
  background: #fff;
  color: #bf7300;
}

@media only screen
and (max-width : 1100px) {
  .out {
    margin-left: 3%;
    margin-right: 3%;
  }

  .header {
    padding: 20px;
  }

  #nav li a {
    padding: 10px;
  }
}


/* Factoid & other frontpage fun ======= */
h2.facts {
  color: #58aeff;
  line-height: 0.6;
  font-size: 60px;
  clear: both;
}

.factoids {
  clear: both;
  overflow: auto;
  margin-bottom: 1em;
  background: ;
  border: 12px solid #58aeff;
}

.factoid {
  width: 21%;
  padding: 2%;
  margin: 0;
  float: left;
  background: #fff;
}

.factoid .num,
.factoid .caption {
  text-align: center;
}

.factoid .num {
  color: #58aeff;
  font-size: 3em;
  font-family: Neuzeit Office W01 Bold, Helvetica Neue, sans-serif;
}

.factoid .caption {
  margin-bottom: 1em;
  font-style: italic;
}

.factoid p {
  width: 100%;
  font-size: 0.9em;
}


/* Hardest hit map ========= */
#map {
  height: 600px;
  width: 100%;
  float: left;
}

.hardest-hit-container {
  overflow: auto;
}

#info {
  display: none;
  width: 25%;
  float: right;
}

#info div {
  padding: 0px 10px;
}

#info h3 {
  font-size: 18px;
}

#info p {
  padding-bottom: 0;
  text-transform: capitalize !important;
}

/* Forms ========= */
label {
  display: block;
}

select option {
  font-size: 1rem;
  font-family: NeuzeitOfficeW01-Regula, Helvetica Neue, sans-serif;
}

input[type='text'],
input[type='email'] {
  border: 2px solid #d3d3d3;
  font-size: 1rem;
  margin-bottom: 1em;
  min-width: 300px;
  padding: 5px;
}

textarea {
  width: 50%;
  font-size: 1rem;
  border: 2px solid #d3d3d3;
  min-width: 300px;
  padding: 5px;
  display: block;
  margin-bottom: 1rem;
}

button {
  background: #0571b0;
  color: #fff;
  height: 3rem;
  font-size: 1rem;
  border: 0px none;
  line-height: 3rem;
  padding: 0px 12px;
  cursor: pointer;
  font-family: Neuzeit Office W01 Bold, Helvetica Neue, sans-serif;
}

/* Footer */

.logos {
  text-align: center;
  padding-bottom: 20px;
  margin-top: 20px;
}

.logos h2 {
  margin-bottom: 10px;
  text-align: left;
  padding-left: 50px;
}

.logos img {
  width: 16%;
}

.imgbar .logos img {
  width: 50%;
}

.imgbar .logos h2 {
  text-align: center;
  font-size: 20px;
  padding: 0;
}

footer {
  margin: 20px 5% 30px;
  text-align: center;
}

footer a,
footer a:link,
footer a:visited {
  color: #fff;
  border-bottom: 1px dotted #fff;
  display: inline-block;
  margin: 0 10px;
}


/* Responsive =============== */

@media only screen
and (max-width : 768px) {
  .content {
    padding: 20px;
  }

  p {
    width: 100%;
  }

  .imgbar {
    display: none;
    float: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
    line-height: 1em;
  }

  .factoid {
    float: none;
    width: auto;
  }

}
