permalink: pretty
baseurl: ''
prose:
  rooturl: '_posts'
  siteurl: ''
  relativeLinks: 'http://hampelm.github.io/gary/links.jsonp'
  media: ''
  metadata:
    _posts:
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "class"
        field:
          element: "text"
          value: ""
      - name: "category"
        field:
          element: "hidden"
          value: "blog"
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
    _posts/static:
      - name: "layout"
        field:
          element: "hidden"
          value: "page"
      - name: "title"
        field:
          element: "text"
          label: "Title"
          value: ""
      - name: "permalink"
        field:
          element: "text"
          label: "Permalink"
          value: ""
