---
title: 'Gary Counts - Data from the Gary Parcel Survey'
---
<!DOCTYPE html>
<html>
<head>
  <title>Gary Counts - Data from the Gary Parcel Survey</title>
  <meta charset="utf-8">
  <link href='{{site.baseurl}}/css/site.css' rel='stylesheet' /> <!-- was {{site.baseurl}} -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/4.3.1/turf.min.js"></script>-->
  <script type="text/javascript">
    $(function() {
      var $content = $('#content');
      var resize = function() {
        var headerHeight = $('#header').height() + $('#page-title').height();
        var viewportHeight = $(window).height();
        var newHeight = viewportHeight - headerHeight;
        console.log("Setting height", headerHeight, viewportHeight, newHeight, $('iframe'));
        $('iframe').height(newHeight);
        $content.height(newHeight);
      };

      //$( window ).resize(resize);
      // resize();

        $('#nav li').removeClass('selected');
        $(this).parent().addClass('selected');
    });
  </script>
</head>
<body class="{{ page.class }}">
  <header class="garycounts">
    <img src="{{site.baseurl}}/img/logos/garycounts.png">
  </header>

  <div class="all">
    <div class="out">
      <div class="header">
        <h1>
            What gets measured gets improved.
        </h1>
        <ul id="nav">
          <li><a href="{{site.baseurl}}/" class="overview">Overview</a></li>
          <!--<li><a href="{{site.baseurl}}/mayor" class="overview">Letter from the Mayor</a></li>-->
          <li><a href="{{site.baseurl}}/map" class="suvey">Parcel Survey</a></li>
          <li><a href="{{site.baseurl}}/reports" class="reports">Data &amp; Reports</a></li>
          <li><a href="{{site.baseurl}}/hardesthit" class="hardest">Hardest Hit Areas</a></li>
          <li><a href="{{site.baseurl}}/media" class="hardest">Media</a></li>
          <li><a href="{{site.baseurl}}/about" class="about">You can help</a></li>
        </ul>
      </div>

      {{content}}

      <div class="logos">
        <h2>Supporters</h2>
        <img src="{{site.baseurl}}/img/logos/knight.jpg">
        <img src="{{site.baseurl}}/img/logos/Legacy.jpg">
        <img src="{{site.baseurl}}/img/logos/Sanitary.jpg">
        <img src="{{site.baseurl}}/img/logos/harrisUofC.jpg">
        <img src="{{site.baseurl}}/img/logos/IUN.jpg">
      </div>
    </div>

    <footer>
      <div>
        <img src="{{site.baseurl}}/img/seal-t.png" height="125" alt="" style="margin-bottom:2rem">
      </div>

      <a href="http://www.gary.in.us/">
        City of Gary
      </a>
      <a href="http://harris.uchicago.edu/">Harris School of Public Policy</a>
      <a href="http://localdata.com">LocalData</a>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39867070-5', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
